@page
@model HotelBookingWeb.Pages.Rezervari.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rezervare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rezervare.ClientId" class="control-label"></label>
                <select asp-for="Rezervare.ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.CameraId" class="control-label"></label>
                <select asp-for="Rezervare.CameraId" class ="form-control" asp-items="ViewBag.CameraId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.DataStart" class="control-label"></label>
                <input asp-for="Rezervare.DataStart" class="form-control" />
                <span asp-validation-for="Rezervare.DataStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.DataSfarsit" class="control-label"></label>
                <input asp-for="Rezervare.DataSfarsit" class="form-control" />
                <span asp-validation-for="Rezervare.DataSfarsit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.NoteAditionale" class="control-label"></label>
                <input asp-for="Rezervare.NoteAditionale" class="form-control" />
                <span asp-validation-for="Rezervare.NoteAditionale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
