@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bun venit in sistemul nostru de HotelBooking</h1>
    <p>Teburzuca Catalin si Visan Andrei gr7 IE</p>
</div>
